// お知らせ

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

/* =================================
お知らせ共通
 ================================= */

.information {
  overflow: hidden;

// ラベル

  &__label-wrap {
    display: flex;
    max-width: 920px;
    margin: 0 auto 32px;
    gap: 20px;
    padding: 0 0 0 32px;

  }

  &__label {
    line-height: 17px;
    border: 1px solid #d21f1f;
    padding: 3px 12px;
  }

  // 販売価格

  &__price-wrap {
    display: flex;
    max-width: 920px;
    margin: 0 auto 32px;
    gap: 24px;
    padding: 0 0 0 32px;
    align-items: flex-end;
    flex-wrap: wrap;

    @include tab{
      gap: 12px;
      padding: 0;
      justify-content: center;
    }

  }

  &__price-label {
    background-color: #ad9667;
    color: #fff;
    padding: 1px 12px;
    border-radius: 2px;
  }

  &__price {
    color: #ad9667;
    font-size: 56px;
    line-height: 1rem;

    @include sp{
      font-size: 36px;

    }
  }

  &__price-span {
    font-size: 16px;

  }

  &__price-text {}

  // 横長テーブルスタイル
  &__table-oblong {

    table {
      width: 100%;
      border-bottom: 1px solid #c69c6d;
      border-top: 1px solid #c69c6d;
    }

    tr {}

    th {
      border-collapse: collapse;
      border-bottom: 1px solid #c69c6d;
      text-align: center;
      padding: 8px 4px;
      background-color: #f9f5f0;
      color: #a67c52;
    }

    td {
      text-align: center;
      padding: 6px 4px;


    }
  }

  // テーブルスタイル
  &__table-style {
   table {
      width: 100%;
      border-bottom: 1px solid #c69c6d;
      border-top: 1px solid #c69c6d;
    }

    tr {
      
    }

    th {
      border-collapse: collapse;
      border-bottom: 1px solid #c69c6d;
      text-align: left;
      padding: 8px 4px 8px 48px;
      background-color: #f9f5f0;
      color: #a67c52;
      width: 220px;

      @include sp{
        padding: 8px;
        width: 120px;

      }
    }

    td {
      border-collapse: collapse;
      border-bottom: 1px solid #c69c6d;
      text-align: left;
      padding: 8px 4px 8px 48px;
      @include sp{
        padding: 8px;

      }

    }
  }


  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}

// お問い合わせとマップ
.information-contact {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: auto;

  @include sp {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    width: 50%;
    background-color: #fbf8f5;
    padding: 32px 12px;

    @include sp {
      width: 100%;
      padding: 24px 12px;

    }
  }

  &__contact-box {
    background-color: #fff;
    max-width: 300px;
    margin: 0 auto 18px;
    border-radius: 12px;
    padding: 20px 28px;

    @include pc {
      padding: 18px 18px;
    }

    @include sp {
      padding: 18px 28px;

    }
  }

  &__content-tel {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    letter-spacing: 1.6px;

    @include pc {
      font-size: 26px;
    }

  }

  &__content-tel-img {
    width: 32px;
    display: inline;
    vertical-align: middle;
    margin: 0 4px 4px 0;

    @include pc {
      width: 26px;

    }
  }

  &__center-text {
    max-width: 260px;
    margin: 0 auto 16px;
  }

  &__btn {
    display: block;
    max-width: 320px;
    margin: 0 auto 16px;
  }

  &__bottom-text {
    max-width: 260px;
    margin: 0 auto;
  }

  &__ {}

  &__right {
    width: 50%;
    flex: 1;
    margin-right: calc(50% - 50vw);

    @include sp {
      width: 100%;
      margin-right: 0;

    }
  }



  &__map {
    width: 100%;
    height: 100%;

    @include sp {
      height: 240px;
    }


    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }


  }
}

// レイベースお問い合わせ
.information-reybase {
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  margin: auto;
  border: 1px solid #000;

  @include tab{
    max-width: 680px;
  }

  @include sp{
    flex-direction: column;
    max-width: 380px;

  }

  &__left {
    width: 50%;
    position: relative;

    @include sp{
    width: 100%;
    height: 200px;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;

    @include pc{
      width: 280px;
    }

  }

  &__right {
    width: 50%;
    background-color: #fbf8f5;
    padding: 40px;

    @include pc{
      padding: 24px;
    }

    @include sp{
      width: 100%;
      padding: 40px;

    }

  }

  &__text {
    font-size: 20px;

    @include pc{
      font-size: 15px;
    }

    @include tab{
    
    }
  }

  &__tel {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 34px;
    letter-spacing: 1.6px;

    @include pc {
      font-size: 26px;
    }

  }

  &__tel-img {
    width:40px;
    display: inline;
    vertical-align: middle;
    margin: 0 8px 4px 0;

    @include pc {
      width: 26px;

    }
  }


  &__btn {
    display: block;
    max-width: 320px;
    margin: 16px auto 0;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}

.information-style01 {

  &__section {
    background-color: #fbf8f5;
    padding: 40px 12px 80px;
    @include sp{
      padding: 40px 12px 40px;

    }
  }

  &__box {
    max-width: 860px;
    margin: 0 auto;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;

    @include tab{
      gap: 18px;
    }

    @include sp{
      justify-content: center;
      margin: 0 auto;

    }

  }

  &__item {
    width: calc((100% - 32px) / 2);
    background-color: #fff;
    padding: 32px;

    @include tab{
      width: calc((100% - 18px) / 2);
      padding: 20px;
  
    }

    @include sp{
    width: 100%;
    max-width: 400px;
    }
  }

  &__ttl {
    margin: 0 0 28px;
    padding: 0;

    &::before {
      left: -16px;
    }
  }

  &__lead {
    margin: 0 0 32px;

    &--last {
      margin: 0;
    }
  }

  &__list {}

  &__list-item {}

  &__btn-text {
    text-align: center;
    margin: 0 0 24px;
    font-size: 16px;
  }

}

/* =================================
お知らせ一覧
 ================================= */

.archive-information {

  &__section {}

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px 12px 120px;
    justify-content: flex-start;
    max-width: 952px;
    margin: 0 auto;

    @include sp {
      padding: 0 12px 120px;
    }

  }

  &__item {
    width: calc((100% - 32px) / 2);
    max-width: 460px;
    margin: 0 0 24px;

    @include sp {
      width: 100%;
    }
  }

  &__item-img {
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
先進的窓リノベ事業の補助金
 ================================= */

.page-window-renovation {

  &__top-img {
    max-width: 920px;
    margin: 0 auto 120px;

    @include sp{
      margin: 0 auto 40px;

    }
  }

  &__section {
    padding: 0 12px 120px;

    @include sp{
      padding: 0 12px 40px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
分譲地　つづきあいのまち、岩国市通津
 ================================= */

.page-tsudu {

  &__section01 {
    padding: 0 12px;
    margin: 0 0 80px;

    @include sp{
      margin: 0 0 80px;

    }
  }

  &__top-img01 {
    max-width: 880px;
    margin: 0 auto 40px;

    @include sp {
      margin: 0 auto 24px;
    }
  }

  &__top-img02 {
    max-width: 580px;
    margin: 0 auto 40px;

    @include sp {
      margin: 0 auto 24px;
    }
  }

  &__section01-table {
    max-width: 780px;
    margin: 0 auto 80px;

    @include sp {
      overflow-x: scroll;
      margin: 0 auto 24px;

      table {
        width: 500px;
        margin: 0 auto;

      }
    }

    th {
      width: 20%;
    }
  }

  &__top-img03 {
    max-width: 760px;
    margin: 0 auto 40px;
  }

  &__contact-wrap {
    margin-bottom: 80px;
  }

 

  &__section02-text {
    text-align: center;
    margin: 80px 0 40px;

    @include sp{
      margin: 40px 0 24px;

    }
  }

  &__section02-btn {
    display: block;
    max-width: 460px;
    margin: 0 auto;
  }

  &__section03 {
    padding: 80px 12px 120px;
    @include sp{
      padding: 40px 12px 40px;

    }
  }

  &__section03-table {
    max-width: 820px;
    margin: 0 auto;

    @include sp {
      overflow-x: scroll;
      margin: 0 auto ;

      table {
        width: 420px;
        margin: 0 auto;

      }
    }

  }

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
トキヲミルヒカリ
 ================================= */

.page-gokyo-owner {

  &__section01 {
    padding: 0 12px;
    margin: 0 0 80px;

    @include sp{
      margin: 0 0 60px;

    }
  }

  &__top-img {
    max-width: 880px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__section01-img {
    max-width: 880px;
    margin: 0 auto 40px;

    @include sp {
      margin: 0 auto 24px;
    }
  }
  &__section01-text-wrap {
    max-width: 780px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__section01-text {
    margin: 0 0 24px;
  }

  &__section02 {
    padding: 60px 12px;
  }

  &__section03 {
    padding: 80px 12px;

    @include sp{
      padding: 40px 12px;

    }
  }

  &__section03-img01 {
    max-width: 880px;
    margin: 0 auto 80px;
    @include sp {
      margin: 0 auto 60px;
    }
  }

  &__section03-box {
    max-width: 880px;
    margin: 0 auto 80px;
    display: flex;
    gap: 40px;

    @include pc{
    gap: 24px;
    }
    @include sp {
      margin: 0 auto 40px;
      flex-direction: column;
    align-items: center;
    }
  }

  &__section03-left {
    flex: 1;
  }

  &__section03-img03 {
    margin: 0 0 12px;
  }

  &__section03-left-link {
    display: block;
    text-align: right;
    text-decoration: underline;
  }

  &___section03-right {
    width: 300px;
  }

  &__section03-right-text {
    margin: 0 0 24px;
  }

  &__section03-right-link {
    text-decoration: underline;

  }

  &__section03-img04 {
    max-width: 780px;
    margin: 0 auto 80px;
    border: #a3a3a3 1px solid;
    padding: 8px;
  } 

  &__section03-table {
    max-width: 820px;
    margin: 0 auto 80px;

    @include sp {
      overflow-x: scroll;
      margin: 0 auto 40px;

      table {
        width: 420px;
        margin: 0 auto;

      }
    }

  }

  &_contact-wrap {}

  &__ {}

  &__ {}


}

/* =================================
風と陽に開く家
 ================================= */

.page-kudamatsu_nozomicho {

  &__section01 {
    padding: 0 12px;
    margin: 0 0 80px;

    @include sp{
      margin: 0 0 40px;

    }
  }

  &__top-img {
    max-width: 880px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__section01-img {
    max-width: 880px;
    margin: 0 auto 40px;

    @include sp {
      margin: 0 auto 24px;
    }
  }
  &__ {}

  &__section02 {
    padding: 80px 12px;

    @include sp{
      padding: 40px 12px;

    }
  }

  &__section02-img01 {
    max-width: 880px;
    margin: 0 auto 80px;
    @include sp {
      margin: 0 auto 60px;
    }
  }

  &__section02-img03 {
    max-width: 880px;
    margin: 0 auto 40px;
    @include sp {
      margin: 0 auto 20px;
    }
  }


  &__section02-text-wrap {
    max-width: 600px;
    margin: 0 auto 80px;
    border: 1px solid #000;
    padding: 8px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__section02-text {}

  &__section02-text-span {
    text-decoration: underline;
  }

  &__section02-img04 {
    max-width: 780px;
    margin: 0 auto 80px;
    border: #a3a3a3 1px solid;
    padding: 8px;
  } 

  &__section02-table {
    max-width: 820px;
    margin: 0 auto 80px;

    @include sp {
      overflow-x: scroll;
      margin: 0 auto 40px;

      table {
        width: 420px;
        margin: 0 auto;

      }
    }

  }

  &__ {}


}

/* =================================
補助金制度
 ================================= */

.page-sii {

  &__section {
    padding: 0 12px 120px;

    @include tab{
      padding: 0 12px 60px;

    }
  }

  &__top-img {

    max-width: 680px;
    margin: 0 auto 12px;
  }

  &__top-text01 {
    text-align: center;
    font-size: 22px;
    margin: 0 0 4px;

    @include sp{
      font-size: 16px;
    }
  }

  &__top-text01-span {
    font-size: 130%;

  }

  &__top-text02-wrap {
    text-align: center;
  }

  &__top-text02 {
    display: inline-block;
    font-size: 16px;
    border: #ff0000 1px solid;
    padding: 0 8px;
    margin: 0 0 60px;

    @include sp{
      font-size: 15px;
      margin: 0 0 40px;

    }

  }

  &__text-wrap {
    max-width: 880px;
    margin: 0 auto 60px;

    @include sp{
      margin: 0 auto 40px;
    }
  }

  &__text {
    margin: 0 0 24px;

    &:last-of-type{
      margin: 0;

    }
  }

  &__img-wrap {
    max-width: 880px;
    margin: 0 auto 60px;

    @include sp{
      margin: 0 auto 40px;
    }
  }

  &__text-wrap02 {
    text-align: center;
    margin: 100px 0 40px;

    @include tab{
      margin: 60px 0 40px;

    }

    p {
      font-size: 18px;

      @include sp{
        font-size: 14px;

      }
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}