// 家づくり

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

/* =================================
家づくり
 ================================= */

.page-reason {

  &__section {
    margin: 0 0 160px;

    @include sp {
      margin: 0 0 60px;
    }
  }


  &__main-visual {
    max-width: 920px;
    margin: 0 auto 120px;
    padding: 0 12px;

    @include tab {
      margin: 0 auto 40px;

    }
  }

  &__main-wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto 40px;

    @include tab {
      gap: 24px;
      margin: 0 auto 24px;
    }
  }

  &__main-left {

    @include tab {
      padding: 0 0 0 12px;
    }
  }

  &__ttl-wrap {
    margin: 80px 20px 40px 0;

    @include tab {
      margin: 16px 20px 0 0;
    }

    @include sp {
      text-align: left;
    }
  }


  &__section01-text {
    max-width: 350px;
    margin: 0 0 40px 40px;

    @include sp {
      margin: 0 0 40px 0;

    }
  }

  &__ {}

  &__main-right {
    max-width: 300px;

    @include tab {
      max-width: 240px;

    }

    @include sp {
      display: none;
    }
  }

  &__section02-box {
    max-width: 920px;
    margin: 0 auto 0px;
    display: flex;
    gap: 28px;
    padding: 0 12px;
    justify-content: center;

    @include sp {
      gap: 12px;

    }
  }

  &__section02-left {}

  &__section02-btn {
    text-align: right;
    margin: 40px 0 0;

    @include sp {
      display: none;
    }

    &--sp {
      display: none;
      ;

      @include sp {
        display: block;
        text-align: center;
        margin: 40px 0 0;

      }
    }
  }

  &__section02-right {
    padding: 40px 0 0;

    @include sp {
      padding: 0;
    }
  }

  &__section03 {
    padding: 0 12px;
  }

  &__ttl-wrap {
    max-width: 720px;
    margin: 0 auto 60px;

    @include tab {
      max-width: 520px;
      margin: 0 auto 32px;

    }
  }

  &__text-wrap {
    max-width: 640px;
    margin: 0 auto 60px;

    @include tab {
      max-width: 520px;
      margin: 0 auto 32px;

    }

  }

  &__section03-text {
    margin: 0 0 28px;

    @include tab {
      margin: 0 0 16px;

    }
  }

  &__img-wrap {
    max-width: 760px;
    margin: 0 auto 80px;
    padding: 0 8px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__bnr-wrap {
    display: block;
    max-width: 760px;
    margin: 0 auto 80px;
    padding: 0 8px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
高気密・高断熱住宅
 ================================= */

.page-spec1 {

  &__section01 {
    margin: 0 0 80px;

    @include sp {
      margin: 0 0 60px;
    }
  }


  &__top-img {
    max-width: 920px;
    margin: 0 auto 120px;
    padding: 0 12px;

    @include tab {
      margin: 0 auto 40px;

    }
  }

  &__text-wrap {
    max-width: 760px;
    margin: 0 auto 60px;
    transform: translateX(-52px);
    padding: 0 12px;



    @include pc {
      transform: translateX(0);

    }

    @include tab {
      max-width: 520px;
      margin: 0 auto 32px;
    }

    &--sub {
      margin: 0 auto 20px;

      @include tab {
        max-width: 520px;
        margin: 0 auto 18px;
      }
    }
  }

  &__text {
    margin: 0 0 28px;

    @include tab {
      margin: 0 0 16px;

    }
  }

  &__img01 {
    max-width: 580px;
    margin: 0 auto 60px;
    padding: 0 12px;
    transform: translateX(-141px);

    @include pc {
      margin: 0 auto 60px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 32x;
    }

  }

  &__img02 {
    max-width: 480px;
    margin: 0 auto 60px;
    padding: 0 12px;
    transform: translateX(-186px);

    @include pc {
      margin: 0 auto 60px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 32x;
    }

  }

  &__section02 {
    background-color: #fbf8f5;
    padding: 80px 0;
    margin: 0 0 120px;


    @include tab {
      padding: 40px 0;

    }

    @include sp {
      margin: 0 0 60px;
    }
  }

  &__img03 {
    max-width: 780px;
    margin: 0 auto 40px;
    padding: 0 12px;
    transform: translateX(-43px);

    @include pc {
      margin: 0 auto 40px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 32x;
    }

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
資金計画について
 ================================= */

.page-funding-plan {

  &__section01 {
    margin: 0 0 80px;

    @include sp {
      margin: 0 0 60px;
    }
  }


  &__top-img {
    max-width: 860px;
    margin: 0 auto 120px;
    padding: 0 12px;

    @include tab {
      margin: 0 auto 40px;

    }
  }

  &__text-wrap {
    max-width: 760px;
    margin: 0 auto 60px;
    transform: translateX(-52px);
    padding: 0 12px;



    @include pc {
      transform: translateX(0);

    }

    @include tab {
      max-width: 520px;
      margin: 0 auto 32px;
    }

    &--last {
      margin: 0 auto 120px;

      @include tab {
        margin: 0 auto 60px;
      }
    }
  }

  &__text {
    margin: 0 0 28px;

    @include tab {
      margin: 0 0 16px;
    }

    &--green {
      color: #009245;
    }
  }

  &__img {
    max-width: 680px;
    margin: 0 auto 40px;
    padding: 0 12px;
    transform: translateX(-92px);

    @include pc {
      margin: 0 auto 40px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 24x;
    }

  }

  &__img02 {
    max-width: 480px;
    margin: 0 auto 60px;
    padding: 0 12px;
    transform: translateX(-186px);

    @include pc {
      margin: 0 auto 60px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 32x;
    }

  }

  &__section02 {
    background-color: #fbf8f5;
    padding: 80px 0;
    margin: 0 0 0px;


    @include tab {
      padding: 40px 0;

    }

    @include sp {
      margin: 0 0 60px;
    }
  }

  &__img03 {
    max-width: 780px;
    margin: 0 auto 40px;
    padding: 0 12px;
    transform: translateX(-43px);

    @include pc {
      margin: 0 auto 40px;
      transform: translateX(0);

    }

    @include tab {
      margin: 0 auto 32x;
    }

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
ZEH
 ================================= */

.page-zeh {

  &__section01 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }

  &__top-img {
    max-width: 820px;
    margin: 0 auto 40px;

  }

  &__text-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__img-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;

    }
  }

  &__section02 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }

  &__table-wrap {
    max-width: 820px;
    margin: 0 auto 60px;
  }


  &__table01 {
    width: 100%;
    border-collapse: collapse;



    .zeh-j {
      color: rgb(193, 16, 16);
    }

    th {
      border-collapse: collapse;
      border: #c69c6d 1px solid;
      vertical-align: middle;
      padding: 6px 18px;
      color: #8c6239;
      background-color: #f9f5f0;


      @include sp {
        padding: 2px;
        font-size: 12px;

      }

    }

    td {
      border-collapse: collapse;
      border: #c69c6d 1px solid;
      text-align: center;
      vertical-align: middle;
      padding: 6px 18px;

      @include sp {
        padding: 2px;
        font-size: 12px;

      }

    }

  }

}

/* =================================
60年完成保証
 ================================= */

.page-kanseihoshou {

  &__section01 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }

  &__top-img {
    max-width: 820px;
    margin: 0 auto 40px;

  }

  &__top-text {
    max-width: 480px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__text-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__img-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
住宅瑕疵担保責任保険
 ================================= */

.page-kashitanpo {

  &__section01 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }

  &__flex {
    max-width: 820px;
    margin: 0 auto 40px;
    display: flex;
    gap: 24px;

    @include sp {
      flex-direction: column;
    }

  }

  &__left {
    flex: 1;
  }

  &__right {


    @include pc {
      width: 240px;
    }

    @include tab {
      width: auto;
    }
  }

  &__top-text {
    max-width: 480px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }





  &__text-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__text {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }
  }



  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.page-hirogalie {

  &__section01 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }

  &__top-img {
    max-width: 920px;
    margin: 0 auto 80px;

    @include sp {
      margin: 0 auto 40px;
    }
  }


  &__text-wrap {
    max-width: 820px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }

    &--blue {
      max-width: 660px;
      margin: 0 auto 80px;
      
      @include sp {
        margin: 0 auto 40px;
      }

    }


  }

  &__text {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }

    span {
      background: linear-gradient(rgba(0, 0, 0, 0) 50%, #69e2ab 50%);
    }

    @include sp {
      margin: 0 0 18px;

    }

    &--blue {
      color: #0068b7;
      font-size: 17px;
      margin: 0 0 24px;

      

    }
  }

  &__flex {
    max-width: 820px;
    margin: 0 auto 80px;
    display: flex;
    gap: 24px;
    align-items: center;

    @include sp {
      flex-direction: column;
    }

    &--section02 {
      margin: 40px auto 80px;

      @include sp {
        flex-direction: column-reverse;
      }
    }

  }

  &__left {
    flex: 1;
  }

  &__right {
    width: 300px;


    @include pc {
      width: 240px;
    }


  }




  &__section01-box {
    max-width: 820px;
    margin: 0 auto 32px;
    border: 1px solid #323232;
    text-align: center;
    padding: 12px;
  }

  &__section01-img02 {
    max-width: 680px;
    margin: 0 auto;
  }


  &__section02 {
    padding: 0 12px 100px;

    @include sp {
      padding: 0 12px 20px;

    }
  }


  &__section02-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 0 12px;

    li {
      background-color: #fef4e8;
      padding: 5px 12px;
      border-radius: 3px;
    }

    &--bottom {
      li {
        background-color: #fef4e8;
        padding: 2px 12px;
        border-radius: 3px;
      }
    }

  }

  &__section02-img02 {
    max-width: 880px;
    margin: 0 auto 40px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}