@charset "UTF-8";
* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: "Optima", "Segoe UI", "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  color: #333333;
  line-height: 1.8;
}

p {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

a {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #333333;
}
a:hover {
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

.pc-block {
  display: block;
}
@media (max-width: 820px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 820px) {
  .sp-block {
    display: block;
  }
}

.main {
  margin: 0 0 0 260px;
}
@media (max-width: 820px) {
  .main {
    margin: 60px 0 0 0;
  }
}

.section-style {
  max-width: 860px;
  margin: 0 auto;
}

.section-ttl {
  padding: 2px 12px;
  border-left: 1px solid #333333;
  font-size: 28px;
  display: inline-block;
}
@media (max-width: 1120px) {
  .section-ttl {
    font-size: 24px;
  }
}
.section-ttl__span {
  display: block;
  font-size: 14px;
  text-align: left;
}

.btn-style {
  /*矢印の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  padding: 6px 28px 6px 18px;
  text-align: center;
  outline: none;
  border: #333333 1px solid;
  background-color: #fff;
  width: 200px;
  /*アニメーションの指定*/
  transition: ease 0.2s;
}
.btn-style:hover {
  color: #000;
}
.btn-style--auto {
  width: auto;
}
.btn-style--left {
  text-align: left;
}

/* 矢印が右に移動 */
.btn-arrow::after {
  content: "";
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  top: 42%;
  right: 13px;
  /*矢印の形状*/
  width: 6px;
  height: 6px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(45deg);
  /*アニメーションの指定*/
  transition: all 0.3s;
}
.btn-arrow:hover::after {
  right: 11px;
}

.fade-in-js {
  transform: scale(0.9);
  transition: all 0.5s 0s linear;
  opacity: 0;
}
.fade-in-js.action {
  transform: scale(1);
  opacity: 1;
}

.slick-prev:before {
  background: url(../img/top/main-visual-arrow_l.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  font-size: 36px;
  opacity: 1 !important;
}

.slick-next:before {
  background: url(../img/top/main-visual-arrow_r.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  font-size: 36px;
  opacity: 1 !important;
}

.slick-dots li {
  width: 10px;
}

.slick-dots li.slick-active button:before {
  color: #ad9667 !important;
  opacity: 1 !important;
  font-size: 10px;
}

.slick-dots li button:before {
  font-size: 10px;
}

.page-style__block {
  margin: 0 0 60px;
}
.page-style .aligncenter {
  display: block;
  margin: 0 auto;
}
.page-style .alignright {
  display: block;
  margin-left: auto;
}
.page-style img {
  width: auto;
}
.page-style p {
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 24px;
}
.page-style h1 {
  font-size: 28px;
  margin: 24px 0 32px;
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}
.page-style h2 {
  font-size: 24px;
  margin: 24px 0 20px;
  color: #002e73;
  font-weight: bold;
}
.page-style h3 {
  font-size: 20px;
  margin: 24px 0 16px;
}
.page-style a {
  text-decoration: underline;
}
.page-style ol {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ol li {
  font-size: 18px;
  list-style: decimal;
}
.page-style ul {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ul li {
  font-size: 18px;
  list-style: disc;
}
.page-style li {
  font-size: 18px;
}

/* =================================
客室　一覧
 ================================= */
.page-room__section {
  border-top: 1px solid #7b9553;
  padding: 48px 0;
}
@media (max-width: 600px) {
  .page-room__section {
    padding: 32px 0;
  }
}
.page-room__section--tokubetsu {
  border-top: 1px solid #bc8f38;
}
.page-room__section--moderate {
  border-top: 1px solid #9c7f69;
  padding: 48px 0 100px;
}
@media (max-width: 600px) {
  .page-room__section--moderate {
    padding: 32px 0 0;
  }
}
.page-room__section__ttl {
  max-width: 520px;
  margin: 0 auto 48px;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .page-room__section__ttl {
    margin: 0 auto 32px;
  }
}

.page-room-box {
  padding: 60px 20px;
}
@media (max-width: 600px) {
  .page-room-box {
    padding: 40px 20px;
  }
}
.page-room-box--green {
  background-color: #ebf8f7;
}
.page-room-box__inner {
  max-width: 1400px;
  margin: 0 auto;
}
.page-room-box__deco {
  width: 28px;
  margin: 0 auto 24px;
}
@media (max-width: 600px) {
  .page-room-box__deco {
    margin: 0 auto 0;
  }
}
.page-room-box__item-wrap {
  display: flex;
  gap: 16px;
}
.page-room-box__left {
  width: 50%;
  overflow: hidden;
}
.page-room-box__left-img {
  height: 100%;
  max-width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-room-box__right {
  width: 50%;
}
@media (max-width: 820px) {
  .page-room-box__right {
    width: 100%;
  }
}
.page-room-box__ttl {
  color: #1b1464;
  font-size: 20px;
  font-weight: 600;
  border-bottom: #1b1464 1px solid;
  padding: 0 0 4px;
  margin: 0 0 12px 12px;
}
@media (max-width: 600px) {
  .page-room-box__ttl {
    font-size: 18px;
    text-align: center;
    margin: 0 0 12px 0;
  }
}
.page-room-box__lead {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 4px 12px;
}
@media (max-width: 600px) {
  .page-room-box__lead {
    font-size: 16px;
    margin: 0 0 4px 0;
  }
}
.page-room-box__text01 {
  margin: 0 0 20px 12px;
}
@media (max-width: 600px) {
  .page-room-box__text01 {
    margin: 0 0 20px 0;
  }
}
.page-room-box__text02 {
  margin: 0 0 8px 12px;
}
@media (max-width: 600px) {
  .page-room-box__text02 {
    margin: 0 0 8px 0;
  }
}
.page-room-box__btn {
  width: 140px;
  display: block;
  margin: 0 0 28px auto;
}
.page-room-box__img-wrap {
  display: flex;
  gap: 16px;
}
@media (max-width: 600px) {
  .page-room-box__img-wrap {
    gap: 8px;
  }
}
.page-room-box__img {
  margin: 0 0 16px;
}
@media (max-width: 820px) {
  .page-room-box__img {
    margin: 0 0 8px;
  }
}

/* =================================
客室詳細
 ================================= */
.single-room__section01 {
  padding: 40px 20px;
  background: linear-gradient(180deg, #ebf8f7 0%, #ebf8f7 32%, #fff 32%, #fff 100%);
}
@media (max-width: 820px) {
  .single-room__section01 {
    background: linear-gradient(180deg, #ebf8f7 0%, #fff 53%, #fff 53%, #fff 100%);
  }
}
.room-main__top-wrap {
  display: flex;
  gap: 4%;
  max-width: 1400px;
  margin: 0 auto 40px;
}
@media (max-width: 820px) {
  .room-main__top-wrap {
    flex-direction: column;
    margin: 0 auto 24px;
  }
}
.room-main__left {
  width: 65%;
}
@media (max-width: 1120px) {
  .room-main__left {
    width: 60%;
  }
}
@media (max-width: 820px) {
  .room-main__left {
    order: 1;
    width: 100%;
  }
}
.room-main__left .slick-dots {
  bottom: -9px;
  width: 65px;
  right: -64px;
}
@media (max-width: 1120px) {
  .room-main__left .slick-dots {
    width: 100%;
    right: 0;
    bottom: -25px;
  }
}
.room-main__left .slick-dots li {
  width: 4px;
}
.room-main__left .slick-prev {
  left: -18px;
  z-index: 10;
}
@media (max-width: 600px) {
  .room-main__left .slick-prev {
    display: none;
  }
}
.room-main__left .slick-next {
  z-index: 10;
  right: -5px;
}
@media (max-width: 600px) {
  .room-main__left .slick-next {
    display: none;
  }
}
.room-main__left-img {
  overflow: hidden;
}
.room-main__right {
  width: 400px;
}
@media (max-width: 820px) {
  .room-main__right {
    width: 100%;
    margin: 0 0 16px;
  }
}
.room-main__deco {
  width: 28px;
  margin: 0 auto -18px;
}
@media (max-width: 600px) {
  .room-main__deco {
    margin: 0 auto 0;
  }
}
.room-main__ttl {
  color: #1b1464;
  font-size: 22px;
  font-weight: 600;
  border-bottom: #1b1464 1px solid;
  padding: 0 0 4px;
  margin: 0 0 24px;
  text-align: center;
}
@media (max-width: 600px) {
  .room-main__ttl {
    font-size: 18px;
    margin: 0 0 12px 0;
  }
}
.room-main__ttl-span {
  font-size: 18px;
}
@media (max-width: 600px) {
  .room-main__ttl-span {
    font-size: 15px;
  }
}
.room-main__lead {
  text-align: center;
  font-size: 16px;
  margin: 0 0 60px;
}
@media (max-width: 1120px) {
  .room-main__lead {
    margin: 0 0 32px;
    font-size: 14px;
  }
}
.room-main__plan {
  max-width: 280px;
  border: #eee solid 1px;
  padding: 6px;
  text-align: center;
  font-size: 13px;
  margin: 0 auto 120px;
  color: #9d9d9d;
  background-color: #fff;
}
@media (max-width: 1120px) {
  .room-main__plan {
    margin: 0 auto 32px;
  }
}
.room-main__text {
  max-width: 300px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .room-main__text {
    max-width: 500px;
  }
}
.room-main__bottom-wrap {
  display: flex;
  gap: 12px;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .room-main__bottom-wrap {
    flex-wrap: wrap;
    gap: 8px;
  }
}
.room-main__bottom-img {
  cursor: pointer;
}
@media (max-width: 820px) {
  .room-main__bottom-img {
    width: calc(50% - 8px);
    margin: 0 0 16px;
  }
}
.room-main__bottom-img img {
  opacity: 0.5;
}
.room-main__bottom-img.current img {
  opacity: 1;
}
.room-main__bottom-text {
  margin: 20px 0 0 0;
  padding: 0 8px;
}
@media (max-width: 600px) {
  .room-main__bottom-text {
    margin: 8px 0 0 0;
    padding: 0 4px;
  }
}

.room-explanation {
  background-color: #ebf8f7;
  padding: 60px 8px 0;
}
.room-explanation__box {
  max-width: 880px;
  background-color: #fff;
  margin: 0 auto;
  padding: 40px 100px;
  border-radius: 14px;
}
@media (max-width: 820px) {
  .room-explanation__box {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .room-explanation__box {
    padding: 24px 12px;
  }
}
.room-explanation__ttl {
  text-align: center;
  margin: 0 0 14px;
}
.room-explanation__name {
  color: #1b1464;
  border: 1px #1b1464 solid;
  padding: 4px;
  text-align: center;
  margin: 0 0 16px;
  font-size: 18px;
}
.room-explanation__plan {
  text-align: center;
  font-size: 13px;
  margin: 0 0 40px;
}
@media (max-width: 600px) {
  .room-explanation__plan {
    margin: 0 0 24px;
  }
}
.room-explanation__table {
  font-size: 14px;
}
.room-explanation__th {
  width: 100px;
  font-weight: 100;
  text-align: left;
  padding: 12px 0;
}
@media (max-width: 600px) {
  .room-explanation__th {
    width: 86px;
  }
}
.room-explanation__td {
  padding: 12px 0;
}
.room-explanation__td--normal {
  word-break: normal;
}

.room-list {
  padding: 60px 20px;
}
.room-list__ttl {
  color: #1b1464;
  border-bottom: #1b1464 1px solid;
  max-width: 300px;
  margin: 0 auto 60px;
  padding: 0 0 12px;
  text-align: center;
  font-size: 22px;
  position: relative;
  font-weight: 100;
}
.room-list__ttl::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 2px currentColor;
  border-right: solid 2px;
  position: absolute;
  bottom: 22px;
  right: 28px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) rotate(45deg);
}
.room-list__box {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}
@media (max-width: 820px) {
  .room-list__box {
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .room-list__box {
    flex-direction: column;
    align-items: center;
  }
}
.room-list__block {
  width: calc(33.333% - 30px);
}
@media (max-width: 820px) {
  .room-list__block {
    width: calc(33.333% - 15px);
  }
}
@media (max-width: 600px) {
  .room-list__block {
    width: 100%;
    max-width: 320px;
  }
}
.room-list__sub-ttl {
  position: relative;
  color: #9c7f69;
  font-size: 16px;
  border: 1px dotted currentColor;
  padding: 4px 12px 0px;
  margin: 0 0 32px;
}
.room-list__sub-ttl--tokubetsu {
  color: #bc8f38;
}
.room-list__sub-ttl--moderate {
  color: #7b9553;
}
.room-list__sub-ttl::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  position: absolute;
  bottom: 8px;
  right: 18px;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%) rotate(45deg);
}
.room-list__item {
  display: block;
  border-bottom: 1px solid currentColor;
  color: #9c7f69;
  position: relative;
  margin: 0 0 32px;
}
.room-list__item--tokubetsu {
  color: #bc8f38;
}
.room-list__item--moderate {
  color: #7b9553;
}
.room-list__item::before {
  content: "";
  width: 12px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 3px;
  right: -1px;
  transform: translateY(-50%) rotate(45deg);
}
.room-list__item::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -5px;
  left: -3px;
  transform: translateY(-50%) rotate(270deg);
}
/* =================================

 ================================= */
.text {
  background-color: #c0c0c0;
}

/* =================================
header
 ================================= */
.wrap-header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 260px;
  height: 100vh;
}
@media (max-width: 820px) {
  .wrap-header {
    width: 100%;
    height: auto;
    background-color: #fff;
  }
}

.header {
  overflow-y: scroll;
  scrollbar-width: none;
}
.header__inner {
  padding: 40px 20px;
}
@media (max-width: 820px) {
  .header__inner {
    padding: 8px 16px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px;
    margin: 0 0 0;
  }
}
.header__ttl {
  display: block;
  margin: 0 auto 40px;
  max-width: 160px;
}
@media (max-width: 820px) {
  .header__ttl {
    margin: 0;
    max-width: 100px;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px;
}
@media (max-width: 820px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item {
  border-bottom: #e3e3e3 1px solid;
  width: 100%;
  text-align: center;
}
.header__nav-item:first-of-type {
  border-top: #e3e3e3 1px solid;
}
.header__nav-item:hover {
  background-color: #c5c5c5;
  opacity: 1;
}
.header__nav-link {
  font-size: 16px;
  line-height: 16px;
  display: block;
  padding: 18px;
}
.header__nav-link:hover {
  opacity: 1;
}
.header__open-btn {
  position: relative;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /*.active が付与された時の挙動*/
}
@media (max-width: 820px) {
  .header__open-btn {
    display: block;
  }
}
.header__open-btn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 2px;
  border-radius: 5px;
  background: #000;
  width: 65%;
}
.header__open-btn span:nth-of-type(1) {
  top: 13px;
}
.header__open-btn span:nth-of-type(2) {
  top: 23px;
}
.header__open-btn span:nth-of-type(3) {
  top: 33px;
}
.header__open-btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.header__open-btn.active.active span:nth-of-type(2) {
  opacity: 0;
}
.header__open-btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}
.header__open-btn.active span:nth-of-type(3)::after {
  display: none;
}
.header__slider {
  width: 220px;
  margin: 0 auto;
}
.header__slider-item {
  width: 100%;
}
.header__slider-item-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header .slick-dots li {
  width: 10px;
}

.header-sp {
  position: fixed;
  z-index: 200;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: rgba(241, 241, 241, 0.9);
  transition: all 0.6s;
}
.header-sp.open-menu {
  right: 0;
}
.header-sp__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-sp__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-sp__nav-item {
  margin: 0 0 24px;
}
.header-sp__nav-link {
  color: #000;
}

/* =================================
footer
 ================================= */
.footer {
  padding: 80px 0 0;
}
@media (max-width: 600px) {
  .footer {
    padding: 40px 0 0;
  }
}

.footer-top {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px 80px;
}
@media (max-width: 820px) {
  .footer-top {
    max-width: 640px;
  }
}
.footer-top a {
  border-bottom: 1px solid #9a9a9a;
}
.footer-top__ttl {
  font-size: 17px;
  margin: 0 0 32px;
}
@media (max-width: 600px) {
  .footer-top__ttl {
    max-width: 340px;
    margin: 0 auto 20px;
  }
}
.footer-top__top-box {
  max-width: 470px;
  position: relative;
  margin: 0 0 60px;
}
@media (max-width: 600px) {
  .footer-top__top-box {
    max-width: 340px;
    margin: 0 auto 80px;
  }
}
.footer-top__text {
  margin: 0 0 4px;
}
.footer-top__icon-map {
  width: 18px;
  vertical-align: text-bottom;
}
.footer-top__icon-dial {
  width: 30px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 6px 0 0;
}
.footer-top__sns {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 600px) {
  .footer-top__sns {
    bottom: -43px;
    left: 0;
  }
}
.footer-top__sns-item {
  width: 30px;
  display: inline-block;
  border-bottom: none !important;
  margin: 0 6px;
}
.footer-top__bottom-box {
  display: flex;
  gap: 100px;
}
@media (max-width: 1120px) {
  .footer-top__bottom-box {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer-top__bottom-box {
    max-width: 340px;
    margin: 0 auto;
  }
}
.footer-middle {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 0 12px 40px;
}
@media (max-width: 1120px) {
  .footer-middle {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
  }
}
.footer-middle__item {
  white-space: nowrap;
}
@media (max-width: 1120px) {
  .footer-middle__item {
    width: calc((100% - 16px) / 3);
  }
}
@media (max-width: 600px) {
  .footer-middle__item {
    width: 100%;
  }
}
.footer-middle__item--second {
  margin-right: -60px;
}
@media (max-width: 1120px) {
  .footer-middle__item--second {
    margin-right: 0px;
  }
}
.footer-middle__item--third {
  margin-right: 24px;
}
@media (max-width: 1120px) {
  .footer-middle__item--third {
    margin-right: 0px;
  }
}
.footer-middle__item-ttl {
  font-size: 16px;
  color: #ad9667;
  margin: 0 0 8px;
}
.footer-middle__item-link {
  display: block;
}

.footer-bottom__link {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  gap: 24px;
  padding: 0 12px 40px;
  justify-content: center;
}
@media (max-width: 600px) {
  .footer-bottom__link {
    flex-wrap: wrap;
    padding: 0 12px 22px;
    gap: 12px;
  }
}
.footer-bottom__link-item {
  border-bottom: 1px solid #9a9a9a;
}
@media (max-width: 600px) {
  .footer-bottom__link-item {
    width: calc((100% - 12px) / 2);
    border-bottom: none;
  }
}
.footer-bottom__copy {
  background-color: #fbf8f5;
  padding: 12px 8px;
  text-align: center;
  font-size: 13px;
}

/* =================================
トップ
 ================================= */
.page-top__ttl-wrap {
  max-width: 600px;
  margin: 0 auto 60px;
}
@media (max-width: 820px) {
  .page-top__ttl-wrap {
    padding: 0 0 0 32px;
    margin: 0 auto 40px;
  }
}
.top-main {
  padding: 0 0 120px;
}
@media (max-width: 820px) {
  .top-main {
    padding: 0 0 60px;
  }
}
.top-main__main-visual {
  margin: 0 0 120px;
}
@media (max-width: 820px) {
  .top-main__main-visual {
    margin: 0 0 60px;
  }
}
.top-main__main-wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto 40px;
}
@media (max-width: 820px) {
  .top-main__main-wrap {
    gap: 24px;
    margin: 0 auto 24px;
  }
}
@media (max-width: 820px) {
  .top-main__main-left {
    padding: 0 0 0 12px;
  }
}
.top-main__ttl-wrap {
  text-align: center;
  margin: 40px 20px 0 0;
}
@media (max-width: 820px) {
  .top-main__ttl-wrap {
    margin: 16px 20px 0 0;
  }
}
@media (max-width: 600px) {
  .top-main__ttl-wrap {
    text-align: left;
  }
}
.top-main__lead {
  font-size: 64px;
  margin: 60px -77px 50px 0;
  z-index: 10;
  position: relative;
  letter-spacing: 0.1rem;
}
@media (max-width: 1120px) {
  .top-main__lead {
    font-size: 40px;
  }
}
@media (max-width: 820px) {
  .top-main__lead {
    margin: 40px 0 30px 0;
  }
}
.top-main__text {
  margin: 0 0 40px 40px;
}
@media (max-width: 600px) {
  .top-main__text {
    margin: 0 0 40px 0;
  }
}
.top-main__main-right {
  max-width: 300px;
}
@media (max-width: 820px) {
  .top-main__main-right {
    max-width: 240px;
  }
}
@media (max-width: 600px) {
  .top-main__main-right {
    display: none;
  }
}
.top-main__btn {
  text-align: right;
  max-width: 900px;
  margin: 0 auto 120px;
}
@media (max-width: 820px) {
  .top-main__btn {
    text-align: center;
    margin: 0 auto 60px;
  }
}
/* =================================
施工事例
 ================================= */
.top-results {
  padding: 0 0 160px;
}
@media (max-width: 820px) {
  .top-results {
    padding: 0 0 60px;
  }
}
.top-results__content {
  background-color: #fbf8f5;
  padding: 120px 12px;
  margin: 0 0 80px;
}
@media (max-width: 820px) {
  .top-results__content {
    margin: 0 0 40px;
    padding: 40px 26px;
  }
}
.top-results__item {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0 auto 80px;
}
.top-results__item:last-of-type {
  margin: 0 auto;
}
@media (max-width: 820px) {
  .top-results__item {
    flex-direction: column;
  }
}
.top-results__item--reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media (max-width: 820px) {
  .top-results__item--reverse {
    flex-direction: column;
    gap: 24px;
  }
}
.top-results__item-left {
  max-width: 360px;
}
@media (max-width: 600px) {
  .top-results__item-left img {
    aspect-ratio: 5/4;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.top-results__item-right {
  width: 380px;
}
@media (max-width: 600px) {
  .top-results__item-right {
    width: auto;
  }
}
.top-results__item-ttl {
  margin: 0 0 24px;
}
@media (max-width: 820px) {
  .top-results__item-ttl {
    margin: 0 0 24px 20px;
    white-space: nowrap;
  }
}
.top-results__item-text {
  margin: 0 0 24px 24px;
}
@media (max-width: 600px) {
  .top-results__item-text {
    margin: 0 0 24px 0px;
  }
}
.top-results__item-btn {
  margin: 0 0 0 20px;
}
@media (max-width: 600px) {
  .top-results__item-btn {
    text-align: center;
    margin: 0;
  }
}
.top-results__btn {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .top-results__btn {
    text-align: center;
    margin: 0 auto;
  }
}
/* =================================
イベント案内
 ================================= */
.top-event {
  padding: 0 0 100px;
}
@media (max-width: 820px) {
  .top-event {
    padding: 0 0 60px;
  }
}
.top-event__content {
  display: flex;
  gap: 24px;
  padding: 0 12px;
  margin: 0 auto 80px;
  max-width: 880px;
}
@media (max-width: 820px) {
  .top-event__content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 24px;
  }
}
.top-event__item {
  width: calc((100% - 48px) / 3);
}
@media (max-width: 820px) {
  .top-event__item {
    width: 100%;
    max-width: 400px;
  }
}
.top-event__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 6px;
}
.top-event__item-label {
  font-size: 13px;
  line-height: 13px;
  background-color: #ad9667;
  padding: 8px 12px;
  color: #fff;
}
.top-event__item-label--end {
  background-color: #b3b3b3;
}
.top-event__item-date {
  font-size: 12px;
  padding: 0 8px 0 0;
}
.top-event__item-img {
  margin: 0 0 12px;
}
.top-event__item-img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-event__item-scheduled {
  margin: 0 0 2px;
}
.top-event__item-ttl {
  font-size: 15px;
  font-weight: bold;
}
.top-event__btn {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .top-event__btn {
    text-align: center;
    margin: 0 auto;
  }
}

/* =================================
お知らせ
 ================================= */
.top-news {
  padding: 0 0 100px;
}
@media (max-width: 820px) {
  .top-news {
    padding: 0 0 60px;
  }
}
.top-news__content {
  padding: 0 12px;
  margin: 0 auto 80px !important;
  max-width: 880px;
  overflow: hidden;
}
.top-news__item {
  margin: 0 16px;
  position: relative;
}
@media (max-width: 820px) {
  .top-news__item {
    margin: 0 8px;
  }
}
.top-news__item-img {
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
}
/* =================================
ブログ
 ================================= */
.top-blog {
  padding: 0 0 160px;
}
@media (max-width: 820px) {
  .top-blog {
    padding: 0 0 60px;
  }
}
.top-blog__content {
  display: flex;
  gap: 24px;
  padding: 0 12px;
  margin: 0 auto 80px;
  max-width: 880px;
}
@media (max-width: 820px) {
  .top-blog__content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 26px;
    margin: 0 auto;
  }
}
.top-blog__item {
  width: calc((100% - 48px) / 3);
}
@media (max-width: 820px) {
  .top-blog__item {
    width: 100%;
    max-width: 400px;
  }
}
.top-blog__item-date {
  font-size: 12px;
  padding: 0 8px 0 0;
  display: block;
  text-align: right;
}
.top-blog__item-img {
  margin: 0 0 12px;
}
.top-blog__item-img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-blog__item-lead {
  font-size: 12px;
}
.top-blog__item-ttl {
  font-size: 15px;
  font-weight: bold;
}
.top-blog__btn {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .top-blog__btn {
    text-align: center;
    margin: 0 auto;
  }
}
/* =================================
事業案内
 ================================= */
.top-service {
  padding: 0 0 160px;
}
@media (max-width: 820px) {
  .top-service {
    padding: 0 0 60px;
  }
}
.top-service__item {
  height: 516px;
  background: linear-gradient(180deg, #fbf8f5 0%, #fbf8f5 70%, #fff 70%, #fff 100%);
  padding: 60px 12px 0;
}
@media (max-width: 600px) {
  .top-service__item {
    height: auto;
    background: linear-gradient(180deg, #fbf8f5 0%, #fbf8f5 30%, #fff 30%, #fff 100%);
    padding: 40px 12px;
  }
}
.top-service__item-inner {
  display: flex;
  max-width: 920px;
  margin: 0 auto;
  gap: 32px;
}
@media (max-width: 600px) {
  .top-service__item-inner {
    flex-direction: column;
    gap: 28px;
  }
}
.top-service__item-left {
  max-width: 427px;
}
@media (max-width: 600px) {
  .top-service__item-left {
    margin: 0 auto;
  }
}
.top-service__item-ttl {
  margin: 0 0 40px;
}
@media (max-width: 600px) {
  .top-service__item-ttl {
    margin: 0 0 22px 24px;
  }
}
.top-service__item-link-wrap {
  margin: 0 0 0 28px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (max-width: 600px) {
  .top-service__item-link-wrap {
    margin: 0 0 0 56px;
  }
}
/* =================================
企業情報
 ================================= */
.top-company {
  padding: 0 0 160px;
}
@media (max-width: 820px) {
  .top-company {
    padding: 0 0 60px;
  }
}
.top-company__content {
  padding: 60px 12px;
  background: linear-gradient(180deg, #fff 0%, #fff 50%, #fbf8f5 50%, #fbf8f5 100%);
  margin: 0 0 40px;
}
@media (max-width: 1120px) {
  .top-company__content {
    background: linear-gradient(180deg, #fff 0%, #fff 43%, #fbf8f5 43%, #fbf8f5 100%);
  }
}
@media (max-width: 600px) {
  .top-company__content {
    padding: 12px 12px;
    background: #fff;
  }
}
.top-company__content-inner {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  gap: 40px;
  justify-content: center;
}
@media (max-width: 1120px) {
  .top-company__content-inner {
    gap: 28px;
  }
}
.top-company__left {
  max-width: 300px;
}
@media (max-width: 1120px) {
  .top-company__left {
    max-width: 260px;
  }
}
@media (max-width: 600px) {
  .top-company__left {
    max-width: 80px;
  }
}
.top-company__lead {
  font-size: 64px;
  line-height: 1.3;
  margin: 24px 0 140px;
}
@media (max-width: 1120px) {
  .top-company__lead {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .top-company__lead {
    font-size: 32px;
    margin: 24px 0 80px;
  }
}
.top-company__text {
  margin: 0 0 0 40px;
}
@media (max-width: 1120px) {
  .top-company__text {
    margin: 0 0 0 24px;
  }
}
@media (max-width: 600px) {
  .top-company__text {
    margin: 0 0 0 -64px;
  }
}
.top-company__btn {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .top-company__btn {
    text-align: center;
    margin: 0 auto;
  }
}
/* =================================
お問い合わせ
 ================================= */
.top-contact {
  background-color: #fbf8f5;
  padding: 60px 12px;
}
.top-contact__content {
  background-color: #fff;
  max-width: 460px;
  margin: 0 auto 60px;
  padding: 40px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .top-contact__content {
    padding: 24px;
    margin: 0 auto 40px;
  }
}
.top-contact__content-text {
  max-width: 320px;
  margin: 0 auto 16px;
}
@media (max-width: 600px) {
  .top-contact__content-text {
    text-align: center;
  }
}
.top-contact__content-tel {
  max-width: 320px;
  margin: 0 auto 16px;
  display: block;
  font-size: 40px;
  line-height: 40px;
}
@media (max-width: 600px) {
  .top-contact__content-tel {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }
}
.top-contact__content-tel-img {
  width: 46px;
  display: inline;
  vertical-align: middle;
  margin: 0 16px 4px 0;
}
@media (max-width: 600px) {
  .top-contact__content-tel-img {
    width: 30px;
  }
}
.top-contact__content-time {
  max-width: 320px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .top-contact__content-time {
    text-align: center;
  }
}
.top-contact__btn {
  display: block;
  max-width: 360px;
  margin: 0 auto 40px;
}
.top-contact__text {
  text-align: center;
}/*# sourceMappingURL=style.css.map */