@use "config";
@use "subpage";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}



.text {
  background-color: config.$gray;
}

/* =================================
header
 ================================= */

.wrap-header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 260px;
  height: 100vh;

  @include tab {
    width: 100%;
    height: auto;
    background-color: #fff;
  }

}

.header {

  &__inner {
    padding: 40px 20px;

    @include tab {
      padding: 8px 16px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      display: flex;
      padding: 8px;
      margin: 0 0 0;
    }
  }

  &__ttl {
    display: block;
    margin: 0 auto 60px;
    max-width: 200px;

    @include tab {
      margin: 0;
      max-width: 100px;

    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;


    @include tab {
      display: none;
    }

  }

  &__nav-item {
    border-bottom: #e3e3e3 1px solid;
    width: 100%;
    text-align: center;

    &:first-of-type {
      border-top: #e3e3e3 1px solid;
    }

    &:hover {
      background-color: #c5c5c5;
      opacity: 1;
    }

  }

  &__nav-link {
    font-size: 17px;
    line-height: 17px;
    display: block;
    padding: 20px;


    &:hover {
      opacity: 1;
    }
  }


  &__open-btn {
    position: relative;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;

    @include tab {
      display: block;
    }

    span {
      display: inline-block;
      transition: all 0.4s;
      /*アニメーションの設定*/
      position: absolute;
      left: 11px;
      height: 2px;
      border-radius: 5px;
      background: #000;
      width: 65%;

      &:nth-of-type(1) {
        top: 13px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }

      &:nth-of-type(3) {
        top: 33px;
      }

    }

    /*.active が付与された時の挙動*/
    &.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 60%;
    }

    &.active.active span:nth-of-type(2) {
      opacity: 0;
    }

    &.active span:nth-of-type(3) {
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 60%;
    }

    &.active span:nth-of-type(3)::after {
      display: none;
    }
  }

  &__slider {
    width: 220px;
    margin: 0 auto;
  }

  &__slider-item {
    width: 100%;
  }

  &__slider-item-img {
    object-fit: cover;
  }

  .slick-dots li {
    width: 10px;
  }
}



.header-sp {
  position: fixed;
  z-index: 200;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: rgba(241, 241, 241, 0.9);
  transition: all 0.6s;

  &.open-menu {
    right: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-item {
    margin: 0 0 24px;
  }

  &__nav-link {
    color: #000;
  }

}


/* =================================
footer
 ================================= */

.footer {

}

/* =================================
トップ
 ================================= */
.page-top {
  &__ttl-wrap {
    max-width: 600px;
    margin: 0 auto 60px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}
}


.top-main {

  &__main-visual {
    margin: 0 0 120px;

    @include tab{
      margin: 0 0 60px;

    }
  }

  &__main-wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto 40px;

    @include tab{
      gap: 24px;
      margin: 0 auto 24px;


    }
  }

  &__main-left{

    @include tab{
      padding: 0 0 0 12px;
      }
  }

  &__ttl-wrap {
    text-align: center;
    margin: 40px 20px 0 0;

    @include tab{
      margin: 16px 20px 0 0;
    }

    @include sp{
      text-align: left;
    }
  }

  &__lead {
    font-size: 64px;
    margin:60px -77px 50px 0;
    z-index: 10;
    position: relative;
    letter-spacing: 0.1rem;

    @include pc{
      font-size: 40px;
    }

    @include tab{
      margin:40px 0 30px 0;
    }
  }

  &__text {    
    margin: 0 0 40px 40px;

    @include sp{
      margin: 0 0 40px 0;

    }
  }

  &__ {}

  &__main-right {
    max-width: 300px;

@include tab{
  max-width: 240px;

}

    @include sp{
      display: none;

    }
  }

  &__btn {
    text-align: right;
    max-width: 900px;
    margin: 0 auto 120px;

    @include tab{
    text-align: center;
    margin: 0 auto 60px;

    }
  }

  &__bottm-img {
    margin: 0 0 120px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
施工事例
 ================================= */

 .top-results {

  &__content {
    background-color: #fbf8f5;
    padding: 120px 12px;
  }
  &__content {}

  &__item {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0 auto 80px;

    &--reverse {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

  }

  &__item-left {
    max-width: 380px;
  }

  &__item-right {
    width: 380px;

  }

  &__item-ttl {
    margin: 0 0 24px;
  }

  &__item-text {
    margin: 0 0 24px 24px;

  }

  &__item-btn {
    margin: 0 0 0 20px;

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
イベント案内
 ================================= */

 .top-event {



  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
お知らせ
 ================================= */

 .top-news {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
ブログ
 ================================= */

 .top-blog {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
事業案内
 ================================= */

 .top-service {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
企業情報
 ================================= */

 .top-company {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
お問い合わせ
 ================================= */

 .top-contact {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

